# Example environment variables for poe-accountant
# run task setup-env
PROJECT_NAME=poe-accountant

# Path of Exile tokens
## https://www.pathofexile.com/developer/docs#gettingstarted
## https://www.pathofexile.com/my-account/applications/
PATHOFEXILE_CLIENT_ID=""
PATHOFEXILE_CLIENT_SECRET=""
PATHOFEXILE_REDIRECT_URL=""

# Resource Configuration
POSTGRES_VERSION="18"
VALKEY_VERSION="8"

# Local Infrastructure Configuration (Docker)
LOCAL_POSTGRES_PORT="5432"
LOCAL_VALKEY_PORT="6379"
LOCAL_POSTGRES_DB="poe_accountant"
LOCAL_POSTGRES_USER="postgres"
LOCAL_POSTGRES_PASSWORD="postgres"
LOCAL_VALKEY_PASSWORD="valkey"
LOCAL_DOCKER_NETWORK="${PROJECT_NAME}-network"

# Terraform Variables
TF_VAR_project_name=${PROJECT_NAME}
TF_VAR_project_description="Infrastructure for ${PROJECT_NAME} application"

## GitHub Configuration
TF_VAR_github_owner="meepen"
TF_VAR_github_repo="poe-accountant"

## ACME Configuration
TF_VAR_email_address="meep@meepen.dev"

## Cloudflare Configuration
TF_VAR_cloudflare_api_token=""
TF_VAR_cloudflare_account_id=""
TF_VAR_cloudflare_zone_id=""
TF_VAR_cloudflare_zone_name=""

## DigitalOcean Configuration
TF_VAR_do_token=""
TF_VAR_region="nyc3"

## Valkey Configuration
TF_VAR_redis_size="db-s-1vcpu-1gb"
TF_VAR_redis_node_count=1

## PostgreSQL Configuration
TF_VAR_postgres_size="db-s-1vcpu-1gb"
TF_VAR_postgres_node_count=1
TF_VAR_database_name="poe_accountant"

## App Configuration
TF_VAR_frontend_subdomain_name="frontend"
TF_VAR_api_subdomain="api"

# You normally do not need to change below!
TF_VAR_postgres_version=${POSTGRES_VERSION}
TF_VAR_valkey_version=${VALKEY_VERSION}
TF_VAR_pathofexile_client_id=${PATHOFEXILE_CLIENT_ID}
TF_VAR_pathofexile_client_secret=${PATHOFEXILE_CLIENT_SECRET}
TF_VAR_pathofexile_redirect_url=${PATHOFEXILE_REDIRECT_URL}
VITE_API_BASE_URL="http://localhost:4000"
FRONTEND_URL="http://localhost:3000"
DATABASE_URL="postgresql://${LOCAL_POSTGRES_USER}:${LOCAL_POSTGRES_PASSWORD}@localhost:${LOCAL_POSTGRES_PORT}/${LOCAL_POSTGRES_DB}"
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE=${DATABASE_URL}
