# Example environment variables for poe-accountant
# run task setup-env
PROJECT_NAME=poe-accountant

# Path of Exile tokens
## https://www.pathofexile.com/developer/docs#gettingstarted
## https://www.pathofexile.com/my-account/applications/
PATHOFEXILE_CLIENT_ID=""
PATHOFEXILE_CLIENT_SECRET=""
PATHOFEXILE_REDIRECT_URL=""
PATHOFEXILE_CONTACT_EMAIL=""
PATHOFEXILE_APP_VERSION="1.0.0"

# Resource Configuration
POSTGRES_VERSION="18"
VALKEY_VERSION="8"

# Local Infrastructure Configuration
## Ports
POSTGRES_PORT="5432"
VALKEY_PORT="6379"
VALKEY_PROXY_PORT="8079"
FRONTEND_PORT="5173"
API_PORT="4000"

## PostgreSQL
POSTGRES_DB="poe_accountant"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
DATABASE_URL="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"
CLOUDFLARE_HYPERDRIVE_LOCAL_CONNECTION_STRING_HYPERDRIVE="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@localhost:${POSTGRES_PORT}/${POSTGRES_DB}"

## Docker
DOCKER_NETWORK="${PROJECT_NAME}-network"

## Valkey
VALKEY_PASSWORD="valkey"
VALKEY_PROXY_URL=http://localhost:${VALKEY_PROXY_PORT}
VALKEY_URL=redis://:${VALKEY_PASSWORD}@localhost:${VALKEY_PORT}
VALKEY_TOKEN=${VALKEY_PASSWORD}

## Frontend
FRONTEND_URL="http://localhost:${FRONTEND_PORT}"
VITE_API_BASE_URL="http://localhost:${API_PORT}"

## S3
S3_ENDPOINT="http://localhost:9000"
S3_ACCESS_KEY_ID="minioadmin"
S3_SECRET_ACCESS_KEY="minioadmin"
S3_BUCKET_NAME="poe-accountant-assets"

# Terraform Variables
TF_VAR_project_name=${PROJECT_NAME}
TF_VAR_project_description="Infrastructure for ${PROJECT_NAME} application"

## GitHub Configuration
TF_VAR_github_owner="meepen"
TF_VAR_github_repo="poe-accountant"

## ACME Configuration
TF_VAR_email_address="meep@meepen.dev"

## Cloudflare Configuration
TF_VAR_cloudflare_api_key=""
TF_VAR_cloudflare_api_email=""
TF_VAR_cloudflare_account_id=""
TF_VAR_cloudflare_zone_id=""
TF_VAR_cloudflare_zone_name="pathofexile.accountant"

## DigitalOcean Configuration
TF_VAR_do_token=""
TF_VAR_region="nyc3"

## Valkey Configuration
TF_VAR_redis_size="db-s-1vcpu-1gb"
TF_VAR_redis_node_count=1

## PostgreSQL Configuration
TF_VAR_postgres_size="db-s-1vcpu-1gb"
TF_VAR_postgres_node_count=1
TF_VAR_database_name="poe_accountant"

## App Configuration
TF_VAR_api_subdomain="api"
TF_VAR_r2_bucket_name="poe-accountant-assets"

# You normally do not need to change below!
TF_VAR_postgres_version=${POSTGRES_VERSION}
TF_VAR_valkey_version=${VALKEY_VERSION}
TF_VAR_pathofexile_client_id=${PATHOFEXILE_CLIENT_ID}
TF_VAR_pathofexile_client_secret=${PATHOFEXILE_CLIENT_SECRET}
TF_VAR_pathofexile_redirect_url=${PATHOFEXILE_REDIRECT_URL}

